# Web Search & Scraping

tavily-python
trafilatura
firecrawl-py
beautifulsoup4
bs4
lxml>=6
lxml_html_clean
ddgs

# PDF & Document Processing
pymupdf
pdf2image
pypdf
PyPDF2
Pillow
pdf2docx
docx2pdf
python-docx
reportlab
pypandoc
wkhtmltopdf

# Other Dependencies
cachetools
certifi
charset-normalizer
greenlet
h11
httplib2
httptools
paramiko
sshtunnel
idna
jmespath
pyasn1
pyasn1_modules
pyparsing
PyYAML
rsa
soupsieve
starlette
uritemplate
urllib3
watchfiles
websockets
streamlit
altair
pydeck
watchdog
PyJWT==2.8.0
email-validator
razorpay
fastembed
slowapi
passlib[bcrypt]
